.ui-panelgrid td, .ui-panelgrid tr {
	border-style: none !important;
	vertical-align: top;
}

tr.activeProjectRow>td {
	background-color: rgba(250, 212, 46, 0.50);
}
 
/* dt .activeDiagram, dd .activeDiagram {
	background-color: rgba(250, 212, 46, 0.50) !important;
}
 */
tr[class*='activeDiagram'] td {
	background-color: rgba(250, 212, 46, 0.50) !important;
}


dd label[class*='ui-widget'] {
	font-size: small !important;
}

.blockUIclass,
#blockUIid {
	background-color: transparent !important;
	border: none !important;
	webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.modelsLeft {
	width: 25% !important;
	vertical-align: top;
}

.modelsRight {
	width: 75% !important;
	vertical-align: top;
}